http://pandas.pydata.org/pandas-docs/stable/10min.html

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Object creation

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
np_arr = np.random.randn(6,4)
np_arr

array([[ 1.65194114,  0.1372211 , -0.40329533, -0.654717  ],
       [ 0.6436654 , -0.18346327,  1.08112202, -0.5541221 ],
       [-0.41372494, -0.40972578,  1.82506984,  0.83959167],
       [ 1.54728902,  0.3650067 ,  0.56547572,  0.71313336],
       [ 0.81226169, -0.68003216, -0.2849388 , -0.58464284],
       [ 1.09884583,  1.37738601,  0.92020405, -0.77170472]])

In [8]:
df = pd.DataFrame(np_arr, index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  1.651941  0.137221 -0.403295 -0.654717
2013-01-02  0.643665 -0.183463  1.081122 -0.554122
2013-01-03 -0.413725 -0.409726  1.825070  0.839592
2013-01-04  1.547289  0.365007  0.565476  0.713133
2013-01-05  0.812262 -0.680032 -0.284939 -0.584643
2013-01-06  1.098846  1.377386  0.920204 -0.771705

In [9]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.890046  0.101065  0.617273 -0.168744
std    0.751348  0.728278  0.851343  0.736976
min   -0.413725 -0.680032 -0.403295 -0.771705
25%    0.685814 -0.353160 -0.072335 -0.637198
50%    0.955554 -0.023121  0.742840 -0.569382
75%    1.435178  0.308060  1.040893  0.396319
max    1.651941  1.377386  1.825070  0.839592

### different objects into dataframe
all arrays have to be same in length, except scalars (they are repeated)

In [16]:
df2 = pd.DataFrame({'A': 1,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'), 
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df2

   A          B    C  D      E    F
0  1 2013-01-02  1.0  3   test  foo
1  1 2013-01-02  1.0  3  train  foo
2  1 2013-01-02  1.0  3   test  foo
3  1 2013-01-02  1.0  3  train  foo

In [17]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

## Viewing data

In [18]:
df.head()

                   A         B         C         D
2013-01-01  1.651941  0.137221 -0.403295 -0.654717
2013-01-02  0.643665 -0.183463  1.081122 -0.554122
2013-01-03 -0.413725 -0.409726  1.825070  0.839592
2013-01-04  1.547289  0.365007  0.565476  0.713133
2013-01-05  0.812262 -0.680032 -0.284939 -0.584643

In [19]:
df.tail(2)

                   A         B         C         D
2013-01-05  0.812262 -0.680032 -0.284939 -0.584643
2013-01-06  1.098846  1.377386  0.920204 -0.771705

In [21]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [22]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [23]:
df.values

array([[ 1.65194114,  0.1372211 , -0.40329533, -0.654717  ],
       [ 0.6436654 , -0.18346327,  1.08112202, -0.5541221 ],
       [-0.41372494, -0.40972578,  1.82506984,  0.83959167],
       [ 1.54728902,  0.3650067 ,  0.56547572,  0.71313336],
       [ 0.81226169, -0.68003216, -0.2849388 , -0.58464284],
       [ 1.09884583,  1.37738601,  0.92020405, -0.77170472]])

In [24]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.890046  0.101065  0.617273 -0.168744
std    0.751348  0.728278  0.851343  0.736976
min   -0.413725 -0.680032 -0.403295 -0.771705
25%    0.685814 -0.353160 -0.072335 -0.637198
50%    0.955554 -0.023121  0.742840 -0.569382
75%    1.435178  0.308060  1.040893  0.396319
max    1.651941  1.377386  1.825070  0.839592

In [25]:
df.T  # transpose

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.651941    0.643665   -0.413725    1.547289    0.812262    1.098846
B    0.137221   -0.183463   -0.409726    0.365007   -0.680032    1.377386
C   -0.403295    1.081122    1.825070    0.565476   -0.284939    0.920204
D   -0.654717   -0.554122    0.839592    0.713133   -0.584643   -0.771705

### Sorting dataframe

In [26]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.654717 -0.403295  0.137221  1.651941
2013-01-02 -0.554122  1.081122 -0.183463  0.643665
2013-01-03  0.839592  1.825070 -0.409726 -0.413725
2013-01-04  0.713133  0.565476  0.365007  1.547289
2013-01-05 -0.584643 -0.284939 -0.680032  0.812262
2013-01-06 -0.771705  0.920204  1.377386  1.098846

In [27]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-05  0.812262 -0.680032 -0.284939 -0.584643
2013-01-03 -0.413725 -0.409726  1.825070  0.839592
2013-01-02  0.643665 -0.183463  1.081122 -0.554122
2013-01-01  1.651941  0.137221 -0.403295 -0.654717
2013-01-04  1.547289  0.365007  0.565476  0.713133
2013-01-06  1.098846  1.377386  0.920204 -0.771705

## Data selection
Note from official guide: 

While standard Python / Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, .at, .iat, .loc, .iloc and .ix.

#### by column name

In [28]:
df['A']  # returns a series, same as df.A

2013-01-01    1.651941
2013-01-02    0.643665
2013-01-03   -0.413725
2013-01-04    1.547289
2013-01-05    0.812262
2013-01-06    1.098846
Freq: D, Name: A, dtype: float64

#### by row slicing

In [29]:
df[0:3]   # slices the rows, returns smaller dataframe

                   A         B         C         D
2013-01-01  1.651941  0.137221 -0.403295 -0.654717
2013-01-02  0.643665 -0.183463  1.081122 -0.554122
2013-01-03 -0.413725 -0.409726  1.825070  0.839592

In [30]:
df['20130102':'20130104']  # note both ends are included (NOT PYTHON LIKE!)

                   A         B         C         D
2013-01-02  0.643665 -0.183463  1.081122 -0.554122
2013-01-03 -0.413725 -0.409726  1.825070  0.839592
2013-01-04  1.547289  0.365007  0.565476  0.713133

#### by label selection

In [31]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [32]:
df.loc[dates[0]]

A    1.651941
B    0.137221
C   -0.403295
D   -0.654717
Name: 2013-01-01 00:00:00, dtype: float64

In [33]:
df.loc[:, ['A','B']]

                   A         B
2013-01-01  1.651941  0.137221
2013-01-02  0.643665 -0.183463
2013-01-03 -0.413725 -0.409726
2013-01-04  1.547289  0.365007
2013-01-05  0.812262 -0.680032
2013-01-06  1.098846  1.377386

In [34]:
df.loc['20130101':'20130104', ['A','C']]

                   A         C
2013-01-01  1.651941 -0.403295
2013-01-02  0.643665  1.081122
2013-01-03 -0.413725  1.825070
2013-01-04  1.547289  0.565476

In [42]:
df.loc['20130103', ['B','C']]  # dimension reduction

B   -0.409726
C    1.825070
Name: 2013-01-03 00:00:00, dtype: float64

In [43]:
type(_)  # reduced output is actually a series

pandas.core.series.Series

In [44]:
df.loc[dates[0], 'A']

1.6519411364450203

In [45]:
type(_)   # reduced output is, as expected

numpy.float64

#### selection by position (index)
(this is very like python array indexing)

In [46]:
df.iloc[3]

A    1.547289
B    0.365007
C    0.565476
D    0.713133
Name: 2013-01-04 00:00:00, dtype: float64

In [47]:
df.iloc[3:5, 0:2]   # note, slicing is now PYTHON style 
                    # (right end not included)

                   A         B
2013-01-04  1.547289  0.365007
2013-01-05  0.812262 -0.680032

In [48]:
df.iloc[[1,2,4], [0,2]]  # also PYTHON style

                   A         C
2013-01-02  0.643665  1.081122
2013-01-03 -0.413725  1.825070
2013-01-05  0.812262 -0.284939

#### Boolean indexing

In [49]:
df[df.A > 0]

                   A         B         C         D
2013-01-01  1.651941  0.137221 -0.403295 -0.654717
2013-01-02  0.643665 -0.183463  1.081122 -0.554122
2013-01-04  1.547289  0.365007  0.565476  0.713133
2013-01-05  0.812262 -0.680032 -0.284939 -0.584643
2013-01-06  1.098846  1.377386  0.920204 -0.771705

In [50]:
df[df > 0]  # note how cells that did not match turn up as NaN.

                   A         B         C         D
2013-01-01  1.651941  0.137221       NaN       NaN
2013-01-02  0.643665       NaN  1.081122       NaN
2013-01-03       NaN       NaN  1.825070  0.839592
2013-01-04  1.547289  0.365007  0.565476  0.713133
2013-01-05  0.812262       NaN       NaN       NaN
2013-01-06  1.098846  1.377386  0.920204       NaN

In [52]:
# add a column
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

                   A         B         C         D      E
2013-01-01  1.651941  0.137221 -0.403295 -0.654717    one
2013-01-02  0.643665 -0.183463  1.081122 -0.554122    one
2013-01-03 -0.413725 -0.409726  1.825070  0.839592    two
2013-01-04  1.547289  0.365007  0.565476  0.713133  three
2013-01-05  0.812262 -0.680032 -0.284939 -0.584643   four
2013-01-06  1.098846  1.377386  0.920204 -0.771705  three

In [53]:
# using isin() to filter
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03 -0.413725 -0.409726  1.825070  0.839592   two
2013-01-05  0.812262 -0.680032 -0.284939 -0.584643  four

### Setting

In [56]:
s1 = pd.Series(list(range(6)), 
               index=pd.date_range('20130102', periods=6) )
s1

2013-01-02    0
2013-01-03    1
2013-01-04    2
2013-01-05    3
2013-01-06    4
2013-01-07    5
Freq: D, dtype: int64

In [57]:
# column setting (note, unmatching index is set NaN; or dropped)
df['F'] = s1
df

                   A         B         C         D      E    F
2013-01-01  1.651941  0.137221 -0.403295 -0.654717    one  NaN
2013-01-02  0.643665 -0.183463  1.081122 -0.554122    one  0.0
2013-01-03 -0.413725 -0.409726  1.825070  0.839592    two  1.0
2013-01-04  1.547289  0.365007  0.565476  0.713133  three  2.0
2013-01-05  0.812262 -0.680032 -0.284939 -0.584643   four  3.0
2013-01-06  1.098846  1.377386  0.920204 -0.771705  three  4.0

In [58]:
df.at[dates[0], 'A'] = 0  # set by label
df

                   A         B         C         D      E    F
2013-01-01  0.000000  0.137221 -0.403295 -0.654717    one  NaN
2013-01-02  0.643665 -0.183463  1.081122 -0.554122    one  0.0
2013-01-03 -0.413725 -0.409726  1.825070  0.839592    two  1.0
2013-01-04  1.547289  0.365007  0.565476  0.713133  three  2.0
2013-01-05  0.812262 -0.680032 -0.284939 -0.584643   four  3.0
2013-01-06  1.098846  1.377386  0.920204 -0.771705  three  4.0

In [60]:
df.iat[0,1] = -1   # set by index
df

                   A         B         C         D      E    F
2013-01-01  0.000000 -1.000000 -0.403295 -0.654717    one  NaN
2013-01-02  0.643665 -0.183463  1.081122 -0.554122    one  0.0
2013-01-03 -0.413725 -0.409726  1.825070  0.839592    two  1.0
2013-01-04  1.547289  0.365007  0.565476  0.713133  three  2.0
2013-01-05  0.812262 -0.680032 -0.284939 -0.584643   four  3.0
2013-01-06  1.098846  1.377386  0.920204 -0.771705  three  4.0

In [66]:
len(df)   # length of dataframe is length of its indices

6

In [68]:
df.loc[:, 'D'] = np.array([5] * len(df))
df

                   A         B         C  D    F
2013-01-01  0.000000 -1.000000 -0.403295  5  NaN
2013-01-02  0.643665 -0.183463  1.081122  5  0.0
2013-01-03 -0.413725 -0.409726  1.825070  5  1.0
2013-01-04  1.547289  0.365007  0.565476  5  2.0
2013-01-05  0.812262 -0.680032 -0.284939  5  3.0
2013-01-06  1.098846  1.377386  0.920204  5  4.0

In [69]:
# set by "where", prep.
df2 = df.copy()
df2

                   A         B         C  D    F
2013-01-01  0.000000 -1.000000 -0.403295  5  NaN
2013-01-02  0.643665 -0.183463  1.081122  5  0.0
2013-01-03 -0.413725 -0.409726  1.825070  5  1.0
2013-01-04  1.547289  0.365007  0.565476  5  2.0
2013-01-05  0.812262 -0.680032 -0.284939  5  3.0
2013-01-06  1.098846  1.377386  0.920204  5  4.0

In [70]:
df2[df2 > 0] = -df2 
df2

                   A         B         C  D    F
2013-01-01  0.000000 -1.000000 -0.403295 -5  NaN
2013-01-02 -0.643665 -0.183463 -1.081122 -5  0.0
2013-01-03 -0.413725 -0.409726 -1.825070 -5 -1.0
2013-01-04 -1.547289 -0.365007 -0.565476 -5 -2.0
2013-01-05 -0.812262 -0.680032 -0.284939 -5 -3.0
2013-01-06 -1.098846 -1.377386 -0.920204 -5 -4.0

### Missing Data